<article class="card large {{post_class}}">
  {{#if feature_image}}
    <header class="card-image">
      <a href="{{url}}">
        <img src="{{feature_image}}" style="object-fit: cover; ">
      </a>
    </header>
  {{/if}}
  <div class="card-content">
    <header class="card-title">
      <a href="{{url}}">{{title}}</a>
    </header>
    <section>
      {{excerpt words="26"}}... <a href="{{url}}">{{t "Read More"}}</a> <small>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</small>
    </section>
  </div>
  <footer class="card-action">
    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
    {{authors}}
    {{#if tags}}
      {{t "on"}}
      {{#foreach tags}}
        <a href="{{url}}" class="chip">{{name}}</a>
      {{/foreach}}
    {{/if}}
  </footer>
</article>
