{{!< default}}

{{#post}}

{{> page-header}}

<!--   Main Content   -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <article class="{{post_class}}">
          <header class="section no-pad-bot center-align">
            <h1 class="header center black-text">{{title}}</h1>
          </header>

          {{content}}
        </article>
      </div>
    </div>
    
    <main class="row">

      <!--  Te Araroa   -->

      <section class="col s12 m6 l6">
        <article class="card large">

          <header class="card-image">
            <a data-flickr-embed="true" data-footer="false" href="https://www.flickr.com/photos/158365279@N08/albums/72157692020185512" title="Te Araroa" target="_blank">
                  <img src="https://farm1.staticflickr.com/865/27279238068_f106940e51_z.jpg" alt="Te Araroa" />
                </a>
          </header>

          <div class="card-content">
            <span class="card-title activator">
                  <i class="material-icons right">more_vert</i>Te Araroa
                </span>
                <p>Unser Weitwanderweg - einmal von Nord nach Süd durch Neuseeland.</p>
                <a href="/tag/te-araroa">{{t "Tour posts"}}</a>
          </div>

          <footer class="card-action grey-text text-lighten-1" style="display:flex; align-items: center; padding: 7px 24px">
            Hikingbug
            <img class="circle responsive-img" src="{{asset "images/Hikingbug JohnDo.jpg" }}" alt="JohnDo" title="Anja" style="height:30px; width:30px; margin-right:5px; margin-left:5px">
            <img class="circle responsive-img" src="{{asset "images/Hikingbug JohnDo.jpg" }}" alt="JohnDo2" title="JohnDo2" style="height:30px; width:30px; margin-right:5px">
          </footer>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                  <i class="material-icons right">close</i>
                  Te Araroa
                 </span>
            <section>
              Neuseeland
              <table class="responsive striped" style="margin-top:20px; margin-bottom:20px">
                <tbody>
                  <tr>
                    <td>{{t "Length"}}</td>
                    <td>~2.750 km</td>
                  </tr>
                  <tr>
                    <td>{{t "Covert Altitude"}}</td>
                    <td>~58.900 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Highest point"}}</td>
                    <td>2.291 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Lowest point"}}</td>
                    <td>0 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Duration"}}</td>
                    <td>158 {{t "days"}}</td>
                  </tr>
                  <tr>
                    <td>{{t "Period"}}</td>
                    <td>Okt 2017 - März 2018</td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section>
              <div id="teararoa" class="gpxmap" data-gpx-file="{{ asset "tracks/teararoa.gpx" }}">
              </div>
            </section>
          </div>
        </article>
      </section>

      <!--  GR54   -->

      <section class="col s12 m6 l6">
        <article class="card large">

          <header class="card-image">
            <a data-flickr-embed="true" data-footer="false" href="https://www.flickr.com/photos/158365279@N08/albums/72157685052331712" title="GR54" target="_blank">
                  <img src="https://farm5.staticflickr.com/4368/36311999734_ba427fd242_n.jpg" alt="GR54" />
                </a>
          </header>

          <div class="card-content">
            <span class="card-title activator">
                  <i class="material-icons right">more_vert</i>GR54
                </span>
                <p>Anspruchsvolle 2-wöchige Alpenwanderung durch den französischen Nationalpark Écrins.</p>
                <a href="/tag/gr54">{{t "Tour posts"}}</a>
          </div>

          <footer class="card-action grey-text text-lighten-1" style="display:flex; align-items: center; padding: 7px 24px">
            Hikingbug
            <img class="circle responsive-img" src="{{asset "images/Hikingbug JohnDo.jpg" }}" alt="JohnDo" title="Anja" style="height:30px; width:30px; margin-right:5px; margin-left:5px">
            <img class="circle responsive-img" src="{{asset "images/Hikingbug JohnDo.jpg" }}" alt="JohnDo2" title="JohnDo2" style="height:30px; width:30px; margin-right:5px">
          </footer>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                  <i class="material-icons right">close</i>
                  GR54
                 </span>
            <section>
              Frankreich
              <table class="responsive striped" style="margin-top:20px; margin-bottom:20px">
                <tbody>
                  <tr>
                    <td>{{t "Length"}}</td>
                    <td>170 km</td>
                  </tr>
                  <tr>
                    <td>{{t "Covert Altitude"}}</td>
                    <td>12.912 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Highest point"}}</td>
                    <td>2.754 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Lowest point"}}</td>
                    <td>721 m</td>
                  </tr>
                  <tr>
                    <td>{{t "Duration"}}</td>
                    <td>11 {{t "days"}}</td>
                  </tr>
                  <tr>
                    <td>{{t "Period"}}</td>
                    <td>Jul - Aug 2017</td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section>
              <div id="gr54" class="gpxmap" data-gpx-file="{{ asset "tracks/gr54-july17.gpx" }}">
              </div>
            </section>
          </div>
        </article>
      </section>
    </main>
  </div>
</div>

{{/post}}

<!-- flickr is solo, it can be async -->
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<style type="text/css">
@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.3/Control.FullScreen.min.css");

.gpxmap {
  height: 30vh;
  width: 100%;
}
</style>

<!-- all the leaflet stuff depends on each other -->
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js" integrity="sha256-kdEnCVOWosn3TNsGslxB8ffuKdrZoGQdIdPwh7W1CsE=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-omnivore/0.3.4/leaflet-omnivore.min.js" integrity="sha256-k1l+ouvMXT+0iRA8pc8e0dge4ZeGjXG6imrvWboFTRE=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.3/Control.FullScreen.min.js" integrity="sha256-MSxHUOc9P2EY2kS2P+3OcP4QzZ0N1MCrQuJzo8HwuOo=" crossorigin="anonymous"></script>
<script type="application/javascript">
  (function($) {

    var createMap = function(id, layer) {
        var mymap = L.map(id, {
          fullscreenControl: true,
        });

        // create and add tiles
        L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mymap);

        // add layer
        layer.addTo(mymap);

        // refocus on fullscreen events, both
        mymap.on('fullscreenchange', function () {
          mymap.invalidateSize();
          mymap.fitBounds(layer.getBounds());
        });

        return { 'map': mymap, 'layer': layer };
    }
    $(function() {
      // Map with leaflet map and layers to react on velocity animation of crad-reveal
      var mapObjects = new Map();

      $.Velocity.defaults = {
        // if animation is completed reset size and zoom to layer
        complete: function(elements) {
          var mapObject = mapObjects.get($(elements).find(`div.gpxmap`).attr(`id`));
          if(mapObject) {
            mapObject.map.invalidateSize();
            mapObject.map.fitBounds(mapObject.layer.getBounds());
          }
        }
      };

      // for each div.map add a leaflet map
      $(`div.gpxmap`).each((id,elem) => {
        var jqElem = $(elem);
        var mapObject = createMap(jqElem.attr(`id`), omnivore.gpx(jqElem.attr(`data-gpx-file`)));

        // save map and layer to fix view, when card-reveal gets ready
        mapObjects.set(jqElem.attr(`id`), mapObject);
      });
    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>
