{{!< default}}

<div style="background-color: black">
  <div class="container">
    <div class="section">
      {{{navigation}}}
    </div>
  </div>
</div>

{{#post}}

<main class="container">
  <section class="section">
    <div class="row">
      <div class="col s12 m12">

        <article class="card {{post_class}}">
          <header class="section no-pad-bot center-align">
            <time class="grey-text text-lighten-1" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
            <h1 class="header center black-text">{{title}}</h1>
            {{#if feature_image}}
              <figure style="background-image:url({{feature_image}}); margin: 0 0 -80px; height:400px; background-size:cover; background-position:center"></figure>
              {{/if}}
          </header>

          <div class="card-content">
              {{content}}
          </div>

          <footer class="card-action" style="display:flex; align-items: center; ">

            {{#if authors}}
              {{#foreach authors}}
                {{#if profile_image}}
    	           <img src="{{profile_image}}" class="circle responsive-img" style="height:30px; width:30px; margin-right:5px" alt="{{name}}'s Picture" />
                {{/if}}
                <div style="margin-right:5px">
                  <a href="{{url}}" title="{{name}}" class="author author-{{id}} {{slug}}">{{name}}</a>
                </div>
              {{/foreach}}
            {{/if}}

            {{#if tags}}
              {{t "on"}}
              <div style="margin-left:5px">
              {{#foreach tags}}
                <a href="{{url}}" class="chip">{{name}}</a>
              {{/foreach}}
              </div>
            {{/if}}

          </footer>
        </article>

  </section>
</main>

{{/post}}
